<h1>Create book</h1>
<hr>
<form action="/books/create" method="post">

    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="author">Author</label>
    <input type="text" name="author" id="author">

    <label for="description">Description</label>
    <textarea name="description" cols="30" rows="4"></textarea>

    <label for="rate">Rating</label>
    <input type="number" min="0" max="10" name="rating" id="rate">

    <button type="submit">Create Book</button>
</form>