<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>

    <form action="/collection" method="get">

      <label for="title">Title</label>
      <input type="text" name="title" />

      <label for="rating">Rating</label>
      <input type="number" name="rating" />

      <label for="genre">Genre</label>
      <input type="text" name="genre" />

      <label for="duration">Duration</label>
      <input type="number" name="duration" />

      <label for="release_date">Release date</label>
      <input type="date" name="release_date" />


      <button type="submit">Search Movies</button>
    </form>
    
</body>
</html>