<section class="container">
  <div class="card">
    <div class="card-top">
      <img
        src="https://yt3.ggpht.com/ytc/AKedOLTC0WZ_NhOU0cGxMrIlEug-0nbCbOQBgUA1-TCb=s900-c-k-c0x00ffffff-no-rj"
        alt="Pikachu"
      />
    </div>
    <div class="card-text">
        A collection of all Pokemons
    </div>
    <a href="/pokedex">Visit Pokedex</a>
  </div>

  <div class="card">
      <div class="card-top">
      <img
        src="https://external-preview.redd.it/oqKx4_OCE9GDuT0Y01awGIGufPKnrESApuOeuqrlsiU.png?auto=webp&s=0d28e05935d39405bcf5dacd777fdbd2d8fc0744"
        alt="Bag"
      />
    </div>
    <div class="card-text">
        A collection of all the Pokemon items
    </div>
    <a href="/items">View Items</a>

  </div>
</section>